body {
    margin-top: 50px;
    background-image: url('c:\Users\OfficerSheep\Desktop\проект\image-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%; 
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 100px;
    font-family: 'Marcellus SC', serif;
}